* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 0 calc(24px + (121-24) * ((100vw - 375px) / (1280 - 375)));

}

.logo {
    width: 295;
    margin-bottom: 85px;

}

.info {
    display: flex;
    gap: 30px 161px;
    flex-wrap: wrap;

}

.title {
    font-size: 21px;
    font-family: "TT Hoves", sans-serif;
}

.subtitle {
    font-size: 21px;
    font-weight: 700;
    font-family: "TT Hoves";
}

h1 {
    font-size: 80px;
    font-family: "Chava";
}

.description {
    font-size: 27px;
    max-width: 930px;
    line-height: 140%;
    margin-bottom: 20px;
}

.btn_wrapper {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

button {
    width: 328px;
    cursor: pointer;
    padding: 20px 0;
    border-radius: 12px;
    border: 2px solid #6E3ABA;
    background-color: #6E3ABA;
    color: white;
    font-size: 18px
}


button.secondary {
    color: #6500a4;
    background-color: white;

}

#hello {
    background-image: url('./img/html_css_js\ 1.png');
    background-repeat: no-repeat;
    background-position: top 121px right 58px;
    background-size: 30vw;
}



section {
    padding: calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
}

.face {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 61px;




}


.face_down {
    display: flex;
    flex-direction: row;
    gap: 80px;



}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


h2 {
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 41px;
    text-transform: uppercase;



    font-family: "TT Hoves";
    gap: 100px;
}


.description {
    gap: 70px;
    font-family: "TT Hoves";
}

h3 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "TT Hoves";


}

.emoji {
    width: 192px;


}








.purpleBg {
    background-color: #6E3ABA;


}

section.purpleBg {
    text-align: center;
    padding-top: calc(40px + (80-40) * ((100vw - 375px) / (1280 -375)));
    padding-bottom: calc(41px + (88-40) * ((100vw - 375px) / (1280 - 375)));


}



.sale {
    font-size: calc(34px + (52-34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 117%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 52px;

}

.timer {
    display: flex;
    justify-content: space-between;
    margin-top: calc(20px + (57-20) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(20px + (57-20) * ((100vw - 375px) / (1280 - 375)));
}

.timerElem .value {
    font-family: 'Chava';
    font-size: calc(60px + (174 - 60) * ((100vw - 375px) / (1280 - 375)));
    line-height: 107%;
    color: #2f1d4E;


}



.timerElem .desc {
    font-size: calc(10px + (27-10) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 118%;
    color: #2f1d4E;
    text-transform: uppercase;
}







.flex-container {
    display: flex;
    min-height: 100vh;

    flex-wrap: wrap;
    gap: 120px;




}

.flex-item {
    width: 50%;
    max-width: 450px;





}

h2 {
    font-size: calc(34px + (58-34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;


}

h3 {
    font-size: calc(18px + (27-18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 90px;


}


.description {
    font-size: 27px;
    font-weight: 400;
}







h2 {
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 107%;


}

.bio {
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;



}

.coolTeacher {
    flex-basis: 240px;
    flex-grow: 1;
    max-width: 350px;

}

.coolTeacher img {

    width: 100%;


}

.bioText {

    flex-basis: 340px;
    flex-grow: 3;
    font-family: "TT Hoves";

}

h4 {

    font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 121%;
    font-family: "TT Hoves";




}


.bioText p {




    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 400;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));




}

.experience {
    display: flex;
    justify-content: space-between;



}


.exp {
    width: calc(156px + (250 - 156) * ((100vw - 375px) / (1280 - 375)));
    display: flex;
    flex-direction: column;
    gap: 10px;


}



.exp img {
    width: 36px;


}

.exp span {

    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));

    line-height: 140%;
    font-family: "TT Hoves";

}


.diploma {
    display: grid;
    grid-template-columns: calc(330px + (430 - 330) * ((100vw - 375px) / (1280 - 375))) 1fr;
    grid-template-rows: auto auto;

}

.diploma img {
    width: 100%;

    grid-row: 1 / 3;
    


}

.diploma p {

    font-family: "TT Hoves";
    font-size: 27px;
    font-weight: 400;
    line-height: 140%;


}


























.cash {

    font-size: 27px;
    font-weight: 400;
    line-height: 140%;
    font-family: "TT Hoves";


}

.screen img {
    width: 100%;
    margin-top: 36px;


}

.price {
    flex-direction: column;
    flex-wrap: wrap;
}







.aboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 100px;

    align-items: end;





}

.aboutUs h5 {
    font-size: calc(22px + (27 - 22) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    font-family: "TT Hoves";

    grid-row: 2/3;

}

.stat {

    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 118%;
    font-family: "TT Hoves";


}

span {

    font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
    ;
    line-height: 140%;

}



.programBorder {

    border: 4px solid black;





}

.lessons li {
    list-style-type: none;
    padding-left: 64px;
    margin-bottom: 24px;
    padding-bottom: 24px;

    position: relative;

    font-family: "TT Hoves";
    font-size: 21px;
    font-weight: 400;
    line-height: 140%;


}

.lessons li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 64px;
    width: calc(100% - 116px);
    height: 1px;
    background-color: #A1A1A1;
}




.desktop {
    display: block;
}

.mobile {
    display: none;
    margin-top: 30px;
}







.programBorder h2 {

    margin-top: 80px;
    padding-left: 64px;
}


.purpleBg.desktop {

    margin-left: 428px;


    width: 424px;

    margin-top: 34px;
    margin-bottom: 34px;
    font-size: 18px;
    font-family: "TT Hoves";


}






.feedback {

    display: flex;
    gap: 30px;
    flex-wrap: wrap;


}

.feedback .block {

    display: flex;
    align-items: center;
    width: 335px;
    height: 484px;
    background-color: #F0F7FD;
    border-radius: 12px;
    position: relative;



}

.feedback .block .box {
    text-align: center;
    font-family: "TT Hoves";
    padding: 0px 20px;
    width: 295px;
    height: 390px;
    position: relative;

}

.feedback .block .box .icon-img {
    width: 38px;
    margin-right: 277px;
    margin-top: 4.6px;
    margin-left: 0px;
    height: 28.78px;


}

.feedback .block .box .img-students {
    width: 64px;
    border-radius: 50%;
    position: absolute;
    top: 368px;
    right: 257px;
    bottom: 36px;
    left: 20px;




}

h6 {
    margin-left: 88px;
    font-size: 15px;
    margin-top: 368px;


}

.feedback .block .box span {


    position: absolute;
    top: 46px;
    bottom: 112px;
    left: 0;
    right: 0;
    padding: 0 10px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    











}



































@media(max-width:710px) {

    .aboutUs {
        grid-template-columns: 1fr;

    }

    .diploma {

        grid-template-columns: 1fr;

    }

    .flex-item {
        width: 100%;
    }

    .diploma img {
        grid-row: 2/3;
    }

    .desktop {
        display: none;

    }

    .mobile {
        display: block;
    }





}














/*padding по  calc,удалить 160px,разрешение дисплея ограничено из-за падинга
 полсденяя картинка адаптация должна рабоать после width 100%